<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eardevelopment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eardevelopment.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eardevelopment.Settings"
            android:configChanges="orientation|keyboardHidden|screenSize">
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.eardevelopment.SingleNotePractice"
            android:label="@string/title_activity_single_note_practice" 
            android:configChanges="orientation|keyboardHidden|screenSize">        
        </activity>
        <activity
            android:name="com.eardevelopment.PianoRoll"
            android:label="@string/title_activity_piano_roll" >
        </activity>
        <activity
            android:name="com.eardevelopment.IntervalPractice"
            android:label="@string/title_activity_interval_practice"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.eardevelopment.ChordPractice"
            android:label="@string/title_activity_chord_practice"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>
</manifest>
